@{
    Layout = "_Layout";
    ViewBag.Title = "About Us";
}  

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/display.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="upper_block_container"></div>
</body>

</html>
