@{
    Layout = "_Layout";
    ViewBag.Title = "About Us";
}  

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/about.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="break_long"></div>

    <h1 class="name_title">Evan Shouse</h1>

    <div class="break"></div>

    <div class="desc_container">
    <span class="image_container">
        <img src="~/Images/EvanImage.jpg" class="image">
    </span>

        <p>At the age of 13, Evan dropped out of middle school to help his parents on the family potato farm in the state of Idaho. 
        In the meantime, he participated in countless underground rap battles, building an indomitable reputation while climbing his way through the ranks. 
        At 15, Evan would go head on with world-renowned rap star Eminem, where he would eventually come out victorious. 
        Several months later, he would quit rap and lie low picking potatoes on the farm, while picking up a strong passion for evangelism and jiu-jitsu. 
        At 16, Evan had mastered the art of jiu-jitsu, and flew to Iraq to spread the word of God. 
        2 years later, at 18 years old, he would return to the United States, and pick up a full-time flight attendant job on Alaska Airlines. 
        While on the job, Evan had learned software engineering by playing with the computers in the Air Traffic Control building.</p>
    
    </div>
</body>

</html>
