@page

@model RequestPrototype.Models.Rootobject
@{
	<div class="text-center">
    <h2>Thanks!</h2>
    <p>We'll ship your goods as soon as possible.</p>
</div>
}

@functions {
    public RequestPrototype.Models.Rootobject? FullData { get; set; }
}
