@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@using RequestPrototype.Models
@model RequestPrototype.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

@{
    var json = JsonConvert.SerializeObject(Model?.Companies?.ToArray());
}
<script src="~/Scripts/mainpage.js"></script>
<script type="text/javascript">
    let json = @(Html.Raw(json));

    function onInputChange(input) {
        let table = document.getElementById("droptable");
        setDropdownTable(getResults(input, json), table);
    }
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <div class="upper_block_container"></div>

    <h1 class="text-center"><strong>Moon Stocks</strong></h1>

    @using (Html.BeginForm("StockDataDisplay", "Data", FormMethod.Post, new { @class="center", @id = "inputform"}))
    {
        <div class="input_block_container">
            <div class="search_wrapper">
                <span><img class="search_icon" src="~/Icons/rocketship_icon.svg" draggable="false"/></span>
                <span style="height:100%;">
                    @Html.TextBoxFor(model => model.Ticker,
                        new { @id="input", @maxlength = 5, @placeholder="Enter Symbol Here", @class="input_field", @onkeydown="return /[a-z]/i.test(event.key)", 
                        @autocomplete="off", @onkeyup="onInputChange( document.getElementById('input').value )", @required=true }
                    )
                </span>
            </div>
        </div>

    <table id="droptable"></table>
        
    }
</body>

</html>




