@using RequestPrototype.Models

@{  
    ViewBag.Title = "Index";  
}  

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Timestamp
            </th>
            <th>
                Volume
            </th>
            <th>
                Low
            </th>
            <th>
                High
            </th>
            <th>
                Open
            </th>
            <th>
                Close
            </th>
        </tr>
    </thead>
    @*@foreach (var m in @Model.Results)
        {*@
    <tr>
        <td>
            @*@m.Timestamp.ToString("dd MMM yyyy")*@ TIMESTAMP
        </td>
        <td>
            @*@m.Volume.ToString("N0")*@ VOLUME
        </td>
        <td>
            @*@m.Low.ToString("N2")*@ LOW

        </td>
        <td>
            @*@m.High.ToString("N2")*@ HIGH

        </td>
        <td>
            @*@m.Open.ToString("N2")*@ OPEN
        </td>
        <td>
            @*@m.Close.ToString("N2")*@ CLOSE
        </td>
    </tr>
</table>




@*<h3>Prototype: Printing the JSON response from AlphaVantage, of IBM stock data at CURRENT TIME!</h3>  
@{   
    var data = ViewBag.Message;  
}
@foreach (var p in data.stocks) {
        <p>@p.ToString()</p>
    }
@foreach (var p in data.metaData) {
        <p>@p</p>
    }*@