@using RequestPrototype.Models
@model RequestPrototype.Models.UserInput

@{  
    ViewBag.Title = "Index";  
}  

@using (Html.BeginForm("StockDataDisplay", "Data", FormMethod.Post))
{
    <span>Enter Symbol:</span>
    @Html.TextBoxFor(model => model.Ticker, new { @maxlength = 4 })
    
    <button type="submit">Search</button>
    @Html.ValidationMessageFor(model => model.Ticker)
}

