@using RequestPrototype.Models
@model RequestPrototype.Models.HomeViewModel


@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <div class="upper_block_container">

    </div>

    @foreach (var p in Model.Companies ?? Enumerable.Empty<SymbolCompany>()) {
        <div>
            <h3>@p.Company</h3>
            @p.Symbol
        </div>
}

    <div class="input_block_container">
        @using (Html.BeginForm("StockDataDisplay", "Data", FormMethod.Post, new { @class="center"}))
        {
            <div class="search_wrapper">
                <span><img class="search_icon" src="~/Icons/placeholder.svg" draggable="false"/></span>
                <span style="height:100%;">
                    @Html.TextBoxFor(model => model.Ticker,
                        new { @maxlength = 5, @placeholder="Enter Symbol Here", @class="input_field", @autocomplete="off", @onkeydown="return /[a-z]/i.test(event.key)" }
                    )
                </span>
            </div>
        }
    </div>
</body>

</html>

