<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/main_page.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/nav_bar.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <ul class="top_nav"> <!--TODO: Make it so these do not stack when resizing-->
        <li>
            <a href="/Home/Index" title="Home" draggable="false">
                <img src="~/Icons/moon_icon.svg" draggable="false" alt="Home"/>
            </a>
        </li>
        <li><a><b>Placeholder</b></a></li>
        <li><a><b>Placeholder</b></a></li>
        <li><a><b>Placeholder</b></a></li>
    </ul>

    <div>
        @RenderBody()
    </div>
</body>
</html>
